---
import { Markdown } from 'astro/components';
import Page from '../layouts/page.astro';
import AvatarList from '../components/AvatarList.astro';
import TEAM from '../data/team.json';

const title = 'About';
const description = 'There\'s a simple secret to building a faster website — just ship less.';
---

<Page content={{ title, description }}>

    AstroNote is a site built to teach and showcase the capability of statically built sites that offer all the goodness and DX of the modern JS ecosystem without actually shipping any JS by default. It's built by a...

    <Markdown>
        ## Team of Great Bots
    </Markdown>
    <AvatarList names={TEAM} avatarType="bottts" />



    <Markdown>
        ## Meta-Humans
    </Markdown>
    <AvatarList names={TEAM} visible={true} avatarType="avataaars" />



    <Markdown>
        ## & a Guy!
        <div class="flex flex-col justify-center">
            <div class="flex justify-center">
                <img class="rounded-full" width="160" src="https://pbs.twimg.com/profile_images/1378583612925206534/1BxJ61E0_400x400.jpg" title="Aalam" />
            </div>
            <Markdown>
                Aftab Alam / **[@aftabbuddy](https://twitter.com/aftabbuddy)** / [one-aalam](https://github.com/one-aalam)
            </Markdown>
        </div>
    </Markdown>
</Page>
