---
import Markdown from 'astro/components';
import Page from '../layouts/page.astro';

let title = 'About';
let description = 'There\'s a simple secret to building a faster website — just ship less.';
---

<Page content={{ title, description }}>

    AstroNote is a site built to teach and showcase the capability of statically built sites that offer all the goodness and DX of the modern JS ecosystem without actually shipping any JS by default. It's built by a...

    <Markdown>
        ## Team of Great Bots
        <div class="flex justify-center gap-4">
            <img width="160" src="https://avatars.dicebear.com/api/bottts/john.svg" title="John" />
            <img width="160" src="https://avatars.dicebear.com/api/bottts/jammie.svg" title="Jammie" />
            <img width="160" src="https://avatars.dicebear.com/api/bottts/janardhan.svg" title="Janardhan" />
        </div>
    </Markdown>

    <Markdown>
        ## Meta-Humans
        <div class="flex justify-center gap-4">
            <img width="160" src="https://avatars.dicebear.com/api/avataaars/john.svg" title="John" />
            <img width="160" src="https://avatars.dicebear.com/api/avataaars/jammie.svg" title="Jammie" />
            <img width="160" src="https://avatars.dicebear.com/api/avataaars/janardhan.svg" title="Janardhan" />
        </div>
    </Markdown>

    <Markdown>
        ## & a Guy!
        <div class="flex justify-center">
            <img class="rounded-full" width="160" src="https://pbs.twimg.com/profile_images/1378583612925206534/1BxJ61E0_400x400.jpg" title="John" />
        </div>
    </Markdown>
</Page>
