---
import Markdown from 'astro/components';
import Page from '../layouts/page.astro';
import Avatar from '../components/Avatar.astro';

const title = 'About';
const description = 'There\'s a simple secret to building a faster website — just ship less.';
const names = ['john', 'jammie', 'janardhan'];
---

<Page content={{ title, description }}>

    AstroNote is a site built to teach and showcase the capability of statically built sites that offer all the goodness and DX of the modern JS ecosystem without actually shipping any JS by default. It's built by a...

    <Markdown>
        ## Team of Great Bots
    </Markdown>
    <div class="flex justify-center gap-4">
        {names.map((name) => (
            <Avatar name={name} avatarType="bottts" />
        ))}
    </div>


    <Markdown>
        ## Meta-Humans
    </Markdown>
    <div class="flex justify-center gap-4">
        {names.map((name) => (
            <Avatar name={name} avatarType="avataaars" />
        ))}
    </div>

    <Markdown>
        ## & a Guy!
        <div class="flex justify-center">
            <img class="rounded-full" width="160" src="https://pbs.twimg.com/profile_images/1378583612925206534/1BxJ61E0_400x400.jpg" title="Aalam" />
        </div>
    </Markdown>
</Page>
