---
import BaseLayout from '../components/BaseLayout.astro';
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Intro from '../components/Intro.astro';
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title="Astro - Note" description="Ship fast, deliver quick with less or no Javascript" />
</head>
<body class="font-sans antialiased">
    <BaseLayout>
        <br class="my-4"/>
        <header class="w-full flex flex-col align-middle items-center p-8">
            <img width="100" height="80" src="/assets/logo.svg" alt="Astro logo">
            <h1 class="text-6xl relative">Yay! You're on <a class="font-semibold" href="https://astro.build/">Astro</a>&nbsp;<small class="block absolute right-4 px-2 py-1 bg-green-700 text-white rounded-md uppercase text-xl">Starter Kit</small></h1>
                <!-- header goes here -->
                <Nav skip="home" />
        </header>
        <div class="container">
            <!-- rest of the content goes here... -->
            <br class="my-4"/>
            <Intro />
            <br class="my-4"/>
        </div>
    </BaseLayout>
</body>
</html>
