---
import Avatar from './Avatar.svelte';
export type Props = {
    names: string
    avatarType: string
    visible: boolean
}
const { names, avatarType, visible = false } = Astro.props
---
<div class="flex justify-center gap-4">
    {names.map((name) => (
        visible ? <Avatar client:visible name={name} avatarType={avatarType} /> : <Avatar client:load name={name} avatarType={avatarType} />
    ))}
</div>
