---
import Avatar from './Avatar.astro';
const { names, avatarType } = Astro.props
---
<div class="flex justify-center gap-4">
    {names.map((name) => (
        <Avatar name={name} avatarType={avatarType} />
    ))}
</div>
