<article class="mx-auto prose lg:prose-xl text-center">
    <img class="mx-auto" width="640" src="/assets/yay.svg" alt="Astro logo">
    <br class="my-4"/>
    <h1>Introducing Astro: Ship Less JavaScript</h1>
    <p class="line-clamp-2 md:line-clamp-none">
        A new kind of static site builder that delivers lightning-fast performance with a modern developer experience.
    </p>
</article>
