---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
export let content;
---
<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={content.title ? `Astro - Note | ${content.title}` : 'Astro - Note'}
            description={content.description}
        />
    </head>
    <body class="font-sans antialiased">
        <main class="w-full h-screen mx-auto relative px-2 sm:px-6 lg:px-8">
            <!-- spacer -->
            <br class="my-4"/>

            <header class="w-full flex items-center justify-end gap-3 mb-12 px-32">
                <!-- header goes here -->
                <Nav />
            </header>

            <!-- spacer -->
            <br class="my-4"/>
            <div class="container">
                <article class="mx-auto prose lg:prose-xl">

                    <!-- page: frontmatter -->

                    <h1 class="text-center text-gray-700">{content.title}</h1>
                    <h5 class="text-center text-gray-500">{content.description}</h5>

                    <!-- post: separator -->
                    <hr />

                    <!-- post: content -->
                    <section class="text-center">
                        <slot />
                    </section>
                </article>
            </div>

            <!-- spacer -->
            <br class="my-4"/>

            <footer>
                <!-- footer goes here -->
            </footer>
        </main>
    </body>
</html>
