---
export let content;
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Astro - Note {content.title && `| ${content.title}`}</title>
        <meta name="description" content={content.description}/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="shortcut icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta httpEquiv="X-UA-Compatible" content="IE=edge"  />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-config" content="/browserconfig.xml"/>
        <meta name="theme-color" content="#ffffff" />

        <!-- Link to the global style, or the file that imports TailwindCSS constructs -->
        <link rel="stylesheet" href="/style/global.css">
    </head>
    <body class="font-sans antialiased">
        <main class="w-full h-screen mx-auto relative px-2 sm:px-6 lg:px-8">
            <!-- spacer -->
            <br class="my-4"/>

            <header>
                <!-- header goes here -->
            </header>

            <!-- spacer -->
            <br class="my-4"/>
            <div class="container">
                <article class="mx-auto prose lg:prose-xl">

                    <!-- page: frontmatter -->

                    <h1 class="text-center text-gray-700">{content.title}</h1>
                    <h5 class="text-center text-gray-500">{content.description}</h5>

                    <!-- post: separator -->
                    <hr />

                    <!-- post: content -->
                    <section class="text-center">
                        <slot />
                    </section>
                </article>
            </div>

            <!-- spacer -->
            <br class="my-4"/>

            <footer>
                <!-- footer goes here -->
            </footer>
        </main>
    </body>
</html>
